/* keyboard.css */
.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background: rgba(32, 33, 36, 0.95);
    z-index: 1000;
}

.keyboardcontainer {
    width: clamp(300px, 95%, 800px);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container {
    aspect-ratio: 16/5;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background: #373c45;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.key {
    display: flex;
    width: clamp(35px, 5vw, 60px);
    height: clamp(35px, 5vw, 60px);
    margin: clamp(3px, 0.5vw, 5px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #373c45;
    border-radius: 4px;
    color: #ffffff;
    font-size: clamp(5px, 1.5vw, 18px);
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color ease-in-out 0.15s;
    user-select: none;
}

.key:hover{
    background-color: #2a2e36;
}

.key:active {
    background-color: #373c45;
}

.row:first-child .key:first-child{
    width: clamp(30px, 4vw, 40px);
}

.row:first-child .key:last-child{
    width: clamp(60px, 8vw, 80px);
}

.row:nth-child(3) .key:first-child{
    width: clamp(70px, 10vw, 95px);
}
.row:nth-child(3) .key:last-child{
    width: clamp(70px, 10vw, 95px);
}
.row:nth-child(4) .key:first-child{
    width: clamp(100px, 14vw, 130px);
}
.row:nth-child(4) .key:last-child{
    width: clamp(100px, 14vw, 130px);
}
.row:nth-child(5) .key:nth-child(3){
    width: clamp(400px, 50vw, 550px);
}
